// scss/components/_cards.scss
@use '../utilities/_variables' as variables;
@use '../utilities/_mixins' as mixins;
@use '../utilities/_helpers' as *; // Bring helpers' members into local scope

.card-container {
  @include mixins.flex-layout(center);
  flex-wrap: wrap;
  gap: variables.$spacing-unit;
}

.card {
  @extend %card-style;  // Now %card-style is directly accessible
  flex: 1 1 300px;
}
